.Container-1 {
  background-color: lightgray;
  font-size: x-large;
  border-radius: 5px 5px 0 0;
  border: 1px solid grey;
  border-bottom: 0;
  color: #282c34;
  background-color: #282c34;
  color: cyan;
  /*width: 485px;
  */
  width: 550px;
}

.Container-2 {
  /*  background-color: white;
  */
  background-color: lightgrey;
  width: 550px;
  height: 100px;
  border-radius: 0 0 5px 5px;
  border: 1px solid grey;
  align-items: center;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.5);
}

input {
  width: 285px;
  height: 25px;
  margin: 10px;
  border-radius: 3px;
  /* border: 2px solid rgb(70, 101, 159);
 */

  border: 2px solid #282c34;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.5);
}

button {
  margin: 10px;
  border-radius: 3px;
  /*  border: 1px solid rgb(70, 101, 159);
  */
  border: 1px solid #282c34;
  background-color: #282c34;
  width: 90px;
  height: 30px;
  /*font-weight:bolder;
  */
  /*font-size: 14px;
 /* color:rgb(70, 101, 159);
 */
  color: cyan;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.5);
}

button:active {
  /* background-color:rgb(70, 101, 159);
   */

  background-color: cyan;
  color: #282c34;
  /*color:white;
   */
  box-shadow: 0 0 0 0;
}

.error-message {
  margin: 10px;
}
